<section class="my-10 flex items-center justify-center">
  <div class="w-full max-w-90%">
    <div>
      <h3 class="my-5 font-bold text-gray-900 text-2xl">Shop by categories</h3>
    </div>
    <div class="w-full my-8 relative" id="scroller">
      <div class="flex flex-wrap gap-16" id="scrollBarInner">
        <a
          class="flex items-center justify-center flex-col"
          href="/api/product/product-category?category=men's clothing"
        >
          <img
            class="w-28 h-28"
            src="\img\men's clothing.webp"
            alt="Men clothing"
          />
          <span class="block text-center capitalize text-lg mt-2"
            >Men's clothing</span
          >
        </a>
        <a class="flex items-center justify-center flex-col" href="">
          <img
            class="w-28 h-28"
            src="\img\hair extension.webp"
            alt="hair extension and wigs"
          />
          <span class="block text-center capitalize text-lg mt-2"
            >Hair Extension & wigs</span
          >
        </a>
        <a class="flex items-center justify-center flex-col" href="">
          <img
            class="w-28 h-28"
            src="\img\consumer electronics.webp"
            alt="consumer electronics"
          />
          <span class="block text-center capitalize text-lg mt-2"
            >consumer electronics</span
          >
        </a>
        <a class="flex items-center justify-center flex-col" href="">
          <img
            class="w-28 h-28"
            src="\img\home applicances.webp"
            alt="home applicances"
          />
          <span class="block text-center capitalize text-lg mt-2"
            >home applicances</span
          >
        </a>
        <a class="flex items-center justify-center flex-col" href="">
          <img
            class="w-28 h-28"
            src="\img\luggages & bags.webp"
            alt="luggages & bags"
          />
          <span class="block text-center capitalize text-lg mt-2"
            >luggages & bags</span
          >
        </a>
        <a class="flex items-center justify-center flex-col" href="">
          <img class="w-28 h-28" src="\img\shoes.webp" alt="luggages & bags" />
          <span class="block text-center capitalize text-lg mt-2">shoes</span>
        </a>
      </div>
    </div>

    <div class="w-full my-8 relative" id="scroller" data-speed="slow">
      <div class="flex flex-wrap gap-16" id="scrollBarInner">
        <a
          class="flex items-center justify-center flex-col"
          href="/api/product/product-category?category=men's clothing"
        >
          <img
            class="w-28 h-28"
            src="\img\men's clothing.webp"
            alt="Men clothing"
          />
          <span class="block text-center capitalize text-lg mt-2"
            >Men's clothing</span
          >
        </a>
        <a class="flex items-center justify-center flex-col" href="">
          <img
            class="w-28 h-28"
            src="\img\hair extension.webp"
            alt="hair extension and wigs"
          />
          <span class="block text-center capitalize text-lg mt-2"
            >Hair Extension & wigs</span
          >
        </a>
        <a class="flex items-center justify-center flex-col" href="">
          <img
            class="w-28 h-28"
            src="\img\consumer electronics.webp"
            alt="consumer electronics"
          />
          <span class="block text-center capitalize text-lg mt-2"
            >consumer electronics</span
          >
        </a>
        <a class="flex items-center justify-center flex-col" href="">
          <img
            class="w-28 h-28"
            src="\img\home applicances.webp"
            alt="home applicances"
          />
          <span class="block text-center capitalize text-lg mt-2"
            >home applicances</span
          >
        </a>
        <a class="flex items-center justify-center flex-col" href="">
          <img
            class="w-28 h-28"
            src="\img\luggages & bags.webp"
            alt="luggages & bags"
          />
          <span class="block text-center capitalize text-lg mt-2"
            >luggages & bags</span
          >
        </a>
        <a class="flex items-center justify-center flex-col" href="">
          <img class="w-28 h-28" src="\img\shoes.webp" alt="luggages & bags" />
          <span class="block text-center capitalize text-lg mt-2">shoes</span>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="flex items-center justify-center bg-orange-300 p-5 md:p-10">
  <div class="w-full lg:max-w-90%">
    <div class="flex items-center justify-between">
      <a class="flex gap-2 flex-wrap" href="">
        <div
          class="text-black font-bold text-lg bg-yellow-300 px-1 w-fit inline-block rounded"
        >
          Choice
        </div>
        <span class="text-red-700 font-semibold text-xl md:text-2xl italic"
          >Better services and selected items on choice</span
        >
      </a>
      <a
        class="text-black underline hover:text-red-600 hover:no-underline"
        href=""
        >View More</a
      >
    </div>
    <div class="w-full overflow-x-hidden relative" id="wrapper">
      <button
        class="bg-gray-200 rounded-full left-0 text-gray-900 cursor-pointer hidden items-center justify-center font-semibold __carouselNavigator z-10"
        id="previous"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          class="size-6"
        >
          <path
            fill-rule="evenodd"
            d="M9.78 4.22a.75.75 0 0 1 0 1.06L7.06 8l2.72 2.72a.75.75 0 1 1-1.06 1.06L5.47 8.53a.75.75 0 0 1 0-1.06l3.25-3.25a.75.75 0 0 1 1.06 0Z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
      <div class="h-full" id="carousel">
        <% if(choiceProducts) {%> <%for(var i = 0; i < 6; i++) {%>

        <a href="/api/product/find/<%=choiceProducts[i]._id%>">
          <div class="w-full p-3 rounded-2xl bg-white group">
            <div class="relative">
              <div
                class="absolute top-1/2 -translate-y-1/2 right-4 bg-white rounded-full w-12 h-12 flex items-center justify-center group/cart hover:bg-black"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6 text-gray-600 group-hover/cart:text-white"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"
                  />
                </svg>
              </div>
              <img
                class="mb-2 w-full h-full rounded-2xl"
                src="<%=choiceProducts[i].image%>"
                alt="<%=choiceProducts[i].title%>"
              />
              <div>
                <div class="flex items-center gap-1">
                  <div
                    class="overflow-hidden w-full whitespace-nowrap text-gray-800"
                  >
                    <span class="text-sm"><%=choiceProducts[i].title%></span>
                  </div>

                  <span>...</span>
                </div>
                <div class="flex gap-1 items-center">
                  <div
                    class="inline-flex items-center overflow-hidden whitespace-nowrap"
                    id="starSpan"
                  ></div>
                  <span>10,000+ sold</span>
                </div>
                <div class="inline-block text-gray-700 my-2">
                  <span class="capitalize font-semibold text-xl">$</span>
                  <div class="inline-flex items-baseline">
                    <span class="text-3xl font-bold"
                      ><%=choiceProducts[i].price%></span
                    >
                    <span class="font-semibold text-xl">.11</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>

        <% } %> <% } %>
      </div>
      <button
        class="bg-gray-200 rounded-full right-0 text-gray-800 cursor-pointer flex items-center justify-center font-semibold __carouselNavigator z-10"
        id="next"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          class="size-6"
        >
          <path
            fill-rule="evenodd"
            d="M6.22 4.22a.75.75 0 0 1 1.06 0l3.25 3.25a.75.75 0 0 1 0 1.06l-3.25 3.25a.75.75 0 0 1-1.06-1.06L8.94 8 6.22 5.28a.75.75 0 0 1 0-1.06Z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>
  </div>
</section>

<section class="flex items-center justify-center p-5 md:p-10">
  <div class="w-full max-w-90%">
    <div>
      <h3 class="my-5 font-bold text-gray-900 text-2xl">More to love</h3>
    </div>
    <div>
      <a href="">
        <div class="w-56 p-3 rounded-2xl bg-white group">
          <div class="relative">
            <div
              class="absolute top-1/2 -translate-y-1/2 right-4 bg-white rounded-full w-12 h-12 flex items-center justify-center group/cart hover:bg-black"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6 text-gray-600 group-hover/cart:text-white"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"
                />
              </svg>
            </div>
            <img class="mb-2" src="\img\uno flip.webp" alt="UNO FLIP" />
            <div>
              <div class="flex items-center gap-1">
                <div
                  class="overflow-hidden w-full whitespace-nowrap text-gray-800"
                >
                  <span class="text-sm"
                    >2023 NEW Smart Watch Andriod Watch</span
                  >
                </div>

                <span>...</span>
              </div>
              <div class="flex gap-1 items-center">
                <div
                  class="inline-flex items-center overflow-hidden whitespace-nowrap"
                  id="starSpan"
                ></div>
                <span>10,000+ sold</span>
              </div>
              <div class="inline-block text-gray-700">
                <span class="capitalize font-semibold text-xl">$</span>
                <div class="inline-flex items-baseline">
                  <span class="text-3xl font-bold">2,178</span>
                  <span class="font-semibold text-xl">.71</span>
                </div>
              </div>
            </div>
            <div class="text-xs mt-2">
              <div
                class="text-black font-bold bg-yellow-300 px-1 w-fit inline-block rounded"
              >
                Choice
              </div>
              <span class="text-gray-700">Free shipping</span>
            </div>
          </div>

          <div class="mt-3 hidden group-hover:flex gap-1">
            <button
              class="py-2 rounded-full text-sm w-1/2 bg-gray-900 text-white font-semibold"
            >
              See preview
            </button>
            <button
              class="py-2 rounded-full text-sm w-1/2 bg-gray-900 text-white font-semibold"
            >
              Similar Items
            </button>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>

<!-- <section class="h-dvh"></section> -->

<script defer src="/scripts/body2.js"></script>
