<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %> <%- include("./partials/bg.ejs") %> <%-
    include("./partials/body.ejs") %> <%- include("./partials/body2.ejs") %> <%-
    include("./partials/footer.ejs") %>
  </body>
</html>
